@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.game-container {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.game-ui {
  list-style: none;
  display: list-item;
  flex-direction: collumn;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: fit-content;
}

.audio-recorder {
position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
